.react-autosuggest__container {
}

.react-autosuggest__container ul {
    list-style: none;
    padding-left: 4px;
}

.react-autosuggest__input {
    width: 200px;
    transition: background-color 0.3s linear; }
.react-autosuggest__input:hover {
    background-color: #f7f7f7; }

.react-autosuggest__suggestions-container {
    position: absolute;
    background-color: #fff;
    z-index: 20;
    max-height: 200px;
    overflow: auto;
    box-shadow: 2px 2px 2px #d2d2d2; }

@media (min-width: 576px) {
    .react-autosuggest__suggestions-container {
        width: 320px; } }

.react-autosuggest__suggestion {
    padding: 10px;
    font-size: 14px;
    line-height: 16px; }
.react-autosuggest__suggestion--highlighted {
    background-color: #666666;
    color: #fff; }